.App {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: 16px;
}

header, main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  font-size: calc(10px + 2vmin);
  padding: 40px 0 30px;
  text-transform: uppercase;
}
.task {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 400px;
  align-items: center;
  justify-self: center;
  border: 1px solid #eee;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}
.task form, input[type="text"] {
  width: 100%;
  background-color: #282c34;
  color: white;
  border: none;
  font-size: 16px;
}
input[type="text"]::placeholder {
  color: #aaa;
}
input[type="text"]:focus {
  outline-offset: 9px;
}
.remove {
  cursor: pointer;
}
